# Lecturas previas

Si los lenguajes de programacion fueran religiones:

- [if programming language were religions](http://blog.aegisub.org/2008/12/if-programming-languages-were-religions.html)
- [if programming language were cars](http://users.cms.caltech.edu/~mvanier/hacking/rants/cars.html)
-(http://lambda-the-ultimate.org/node/3133)

##  Operaraciones con listas

In [ ]:
x = [1, 2, 3, 4, 5, 6, 7]

Podemos preguntarnos si un valor pertenece a la lista (membership operator):

In [ ]:
3 in x

True

Maximo y el minimo de una lista

In [ ]:
max(x)

7

In [ ]:
min(x)

1

In [ ]:
x = ['a', 'w', 'f', 't']

In [ ]:
max(x)

'w'

In [ ]:
min(x)

'a'

Posición de un elemento

In [ ]:
x.index('f')

2

In [ ]:
mx.index('z')

ValueError: ignored

Regresa una exepción, algunos metodos regresara valores indicando un error o exepciones.

Concatenar listas

In [ ]:
x = ['a', 'w', 'f', 't']
y = ['p','k','g']
x + y

['a', 'w', 'f', 't', 'p', 'k', 'g']

De forma analaga con extend:

In [ ]:
x.extend(y)
x

['a', 'w', 'f', 't', 'p', 'k', 'g']

Inicializar listas con el operador de multiplicación

In [ ]:
x = [-1] * 10
x

[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1]

In [ ]:
y = [1,2,3] * 5
y

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

Preguntar cuantos elementos hay uno particular

In [ ]:
y.count(1)

5

In [ ]:
y.count(99)

0

Devolver el ultimo elemento de la lista y quitarlo de la lista

In [ ]:
last_item = y.pop()
y

In [ ]:
last_item

3

Utilizando los metodos pop() y append(item) podemos simular una **pila**.

Podemos elimnar un elemento de la lista en un especifico indice

In [ ]:
print(y)
item = y.pop(5)
y

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2]

[1, 2, 3, 1, 2, 1, 2, 3, 1, 2, 3, 1, 2]

In [ ]:
print(item)

3

## Tuplas

In [ ]:
x = (1,2,3,4,5)
print(type(x))
x = 1,2,3,4,5
print(type(x))

<class 'tuple'>
<class 'tuple'>

In [ ]:
# acceder a un elemento con indices
x[2]

3

In [ ]:
# Hacer particiones
x[2:]

(3, 4, 5)

In [ ]:
len(x)

5

In [ ]:
# Saber si un elemento no esta
44 not in x

True

Como son imutables, no puede asignar elementos nuevamente a una tupla

In [ ]:
x[3] = 'hi'

TypeError: ignored

In [ ]:
# concatenar tuplas
x + x

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
# incializar tuplas
y = (1,2) * 4
y

(1, 2, 1, 2, 1, 2, 1, 2)

In [ ]:
w = y
w

(1, 2, 1, 2, 1, 2, 1, 2)

In [ ]:
y

(1, 2, 1, 2, 1, 2, 1, 2)

- Conservar la informacion
- La implementacion interna dela tuplas es mucho mas eficiente, es más rapido.
- Los diccionarios solo aceptan llaves con objetos inmutables

In [3]:
y = list( (1,2,3,4))
y

[1, 2, 3, 4]

In [4]:
x = tuple( [1,2,3])
x

(1, 2, 3)

# Cadenas

In [7]:
x = "cadena con doble comillas"
x

'cadena con doble comillas'

In [9]:
x = 'cadena con simple comilla'
x

'cadena con simple comilla'

In [12]:
x = '''\t triple comilla para 
largos textos'''
x

'\t triple comilla para \nlargos textos'

In [13]:
x = """\t triple comilla doble para la documentacion """
x

'\t triple comilla doble para la documentacion '

**Cadenas, listas y tuplas son considerados iterables**

In [14]:
# Concatenas cadenas
x = 'hola'
y = 'mundo'
x + y

'holamundo'

In [15]:
# Inicializar cadenas
'x ' * 5

'x x x x x '

In [16]:
# Convertir una cadena en una lista
x = 'hola mundo'
y = x.split()
y

['hola', 'mundo']

In [17]:
# Usa expresiones regulares
mail = 'memocampeon35@yahoo.com'
mail.split('@')

['memocampeon35', 'yahoo.com']

In [22]:
# Podemos indicarlo cuantos
y = 'a b c d e f g'

In [25]:
y.split(' ', 2)

['a', 'b', 'c d e f g']

In [26]:
# Convertir una lista en una cadena
'@'.join(['hola', 'mi', 'nombre', 'jim'])

'hola@mi@nombre@jim'

In [27]:
' '.join(['hola', 'mi', 'nombre', 'jim'])

'hola mi nombre jim'

## Conversion de tipos

In [28]:
int('369')

369

In [29]:
int('11101', 2)

29

In [30]:
int('ff', 16)

255

In [31]:
int('77', 8)

63

In [34]:
try:
    int('3a7')
except:
    print("ValueError: invalid literal for int() with base 10: '3a7'")

ValueError: invalid literal for int() with base 10: '3a7'

In [33]:
'3a5'.isdigit()

False

In [35]:
float('1.32')

1.32

In [36]:
int('1.2')

ValueError: invalid literal for int() with base 10: '1.2'

In [37]:
# Buscar cadenas
x = 'ferrocarril'
x.find('rr')

2

In [38]:
# indicar en donde empezar la busqueda
x.find('rr', 3)

7

In [39]:
x.find('asdf')

-1

In [40]:
# Busquedas al inicio para saber si inicia con una letras en particuaar
x.startswith('fer')

True

In [41]:
x.startswith('ferasdf')

False

In [42]:
x.endswith('il')

True

In [43]:
# Tambien podemos pasar una tupla para alternativas
x.endswith(('er', 'il'))

True

In [44]:
x = [1,2,3,4]
# En java te permite concatenas cualquier objeto
print('x = ' + x)

TypeError: can only concatenate str (not "list") to str

In [45]:
# Debido a que python fuertemente tipado
# Necesita una conversion explicita
print('x = ' + repr(x))

x = [1, 2, 3, 4]

In [47]:
# Analogia al metodo  toString
help(repr)

Help on built-in function repr in module builtins:

repr(obj, /)
    Return the canonical string representation of the object.

    For many object types, including most builtins, eval(repr(obj)) == obj.

In [48]:
# Tambien se puede con 
str(x)

'[1, 2, 3, 4]'

Se puede usar para **tuplas, cadenas, listas, numeros** para hacer esta concatenacion.

In [49]:
# formateo de cadenas simil a C
# Operacion modulo entre cadenas
'La %s es la %s' % ('tequlla', 'bebida')

'La tequlla es la bebida'

In [50]:
'Entero : %d ' % (6)

'Entero : 6 '

In [52]:
'Flotante: %f' % (3.1434323425)

'Flotante: 3.143432'

In [ ]:
# Ajustar los decimales

In [55]:
# 6 posiciones en total
# 2 para la parte fraccionaria
'Flotante: >%6.2f<'% (3.1434323425)

'Flotante: >  3.14<'

In [58]:
'Flotante: >%6.5f<'% (3.1434323425)

'Flotante: >3.14343<'

In [59]:
'Flotanre: %.3e' % 0.0000000000123

'Flotanre: 1.230e-11'

In [67]:
# metodo format con posiciones
'La {} es la {}'.format('tequlla', 'bebida')

'La tequlla es la bebida'

In [66]:
'La {1} es la {0}'.format('tequlla', 'bebida')

'La bebida es la tequlla'

In [63]:
'La {bebida} es la {tequila}'.format(bebida='tequlla', tequila='bebida')

'La tequlla es la bebida'

In [68]:
'La {} es la {tequila[2]}'.format('tequlla', tequila=['bebida', 'fria', 'cotel'])

'La tequlla es la cotel'

In [69]:
x = input('Ingresa algo')

Ingresa algo15

In [70]:
x

'15'

## Diccionarios (hash)

Parejas de clave y valor
- java- hashtable
- ruby - hash
- php - array asociativos

In [5]:
x = set() # conjuntos
x = [] # listas
x = () # tuplas
x = {} # diccionarios
type(x)

dict

In [10]:
# Creando un dictionario
 
# crear una nueva pareja clave valor
x['red'] = 'rojo'
x['green'] = 'verde'
x['blue'] = 'blue'
x

{'red': 'rojo', 'green': 'verde', 'blue': 'blue'}

In [9]:
# Seguna manera
x = {'red': 'rojo', 'green': 'verde', 'blue': 'blue'}
x

{'red': 'rojo', 'green': 'verde', 'blue': 'blue'}

In [11]:
x['black'] = 'blanco'
x

{'red': 'rojo', 'green': 'verde', 'blue': 'blue', 'black': 'blanco'}

In [12]:
# Change value
x['black'] = 'negro'
x

{'red': 'rojo', 'green': 'verde', 'blue': 'blue', 'black': 'negro'}

In [14]:
x = {'cadena': 1, 2:'entero', 3.15:'flotante', (2,5): 'es una tupla', 2+1j:'complejo'}
x

{'cadena': 1,
 2: 'entero',
 3.15: 'flotante',
 (2, 5): 'es una tupla',
 (2+1j): 'complejo'}

Acceder mediante indices, los indices seran objetos inmutables

In [16]:
# Ojo: lo que lo hace ser una tupla no son los parantesis
# son las comas
x[2,5] # :o

'es una tupla'

In [18]:
x[(2,5)]

'es una tupla'

In [17]:
x[2+1j]

'complejo'

In [19]:
# Usar una lista como un indie
x[[2, 5]] = 'lista'

TypeError: unhashable type: 'list'

Porque una lista es **inmutable object**.

In [20]:
x = {'red': 'rojo', 'green': 'verde', 'blue': 'blue', 'black': 'negro'}
x

{'red': 'rojo', 'green': 'verde', 'blue': 'blue', 'black': 'negro'}

In [21]:
# Obtener el numero de parejas
len(x)

4

In [22]:
# Ver si una llave esta en diccionario
'green' in x

True

In [24]:
# Solo valido for keys
'verde' in x

False

In [25]:
# Obtener las claves de los diccionarios
x.keys()

dict_keys(['red', 'green', 'blue', 'black'])

In [26]:
x.values()

dict_values(['rojo', 'verde', 'blue', 'negro'])

Los diccionarios estan optmizados para las claves no para los valores, in operator hace la operacion de hash con su llave, lo hace en tiempo lineal.

Usa una transformación, lleva a una direccion de memoerias

In [27]:
'verde' in x.values()

True

In [29]:
# Get parejas en forma individual, lista de tuplas
x.items()

dict_items([('red', 'rojo'), ('green', 'verde'), ('blue', 'blue'), ('black', 'negro')])

In [30]:
x['cyan']

KeyError: 'cyan'

In [43]:
# verificar que existe sin exepcion
x.get('blue')

'blue'

In [32]:
x.get('cyan', 'N/d')

'N/d'

In [34]:
# Metodo que agrega si no lo encuentra
x.setdefault('blue', 'N/D')

'blue'

In [41]:
x.setdefault('cyan', 'N/D')

'N/D'

In [42]:
x

{'red': 'rojo',
 'green': 'verde',
 'blue': 'blue',
 'black': 'negro',
 'cyan': 'N/D'}

In [48]:
y = x.get('bluesadfa')
print(y)

None

In [49]:
y = x

In [50]:
x

{'red': 'rojo',
 'green': 'verde',
 'blue': 'blue',
 'black': 'negro',
 'cyan': 'N/D'}

In [52]:
y

{'red': 'rojo',
 'green': 'verde',
 'blue': 'blue',
 'black': 'negro',
 'cyan': 'N/D'}

In [54]:
# La misma direccion
print(id(x))
print(id(y))

140467377499200
140467377499200

In [55]:
# Para copiar un diccionary
y = x.copy()

In [57]:
# Diferentes direcciones
print(id(x))
print(id(y))

140467377499200
140467377463360

- El mes 3 (MArzo)
- En el dia 14
- En el año 15
- Nos aproximamos en tiempo casi a pi

In [59]:
# Formateo con modulo cadena
x = {'e': 2.718, 'pi': 3.14159265}
print('%(pi).4f\n %(e).2f ' % x)

3.1416
 2.72

In [60]:
print('%(pi).4f\n %(e).2f '.format(x))

%(pi).4f
 %(e).2f

Claves validas: cualquier cosa que sea inmutables

claves invalidas: listas, conjuntos

In [ ]:
# Optimizar diccionarios
"""
|2 0 0 0 |
|0 0 1 0 |
|0 3 0 0 |
|0 0 0 1 |
"""

In [63]:
m = [
    [2, 0, 0 ,0],
    [0, 0, 1, 0],
    [0, 3, 0, 0 ],
    [0, 0, 0, 1]    
]
m

[[2, 0, 0, 0], [0, 0, 1, 0], [0, 3, 0, 0], [0, 0, 0, 1]]

In [64]:
m[3][1]

0

In [65]:
m[0][0]

2

Son conocidas como tablas dispersas

Cantidad de valores diferentes a uno en particulas
4 de 16

En lugar de representar esa table enorme, representarlo como diccionario, porque sabemos que los demas valores son cero y solo nos intesan los valores significativos

In [67]:
m = {(0,0): 2 , (1,2): 1, (2,1):3, (3,3):1}
m

{(0, 0): 2, (1, 2): 1, (2, 1): 3, (3, 3): 1}

In [68]:
# Obtenerlo más natural
m.get((3,1), 0) # return 0 si no esta

0

In [70]:
m.get((0,0), 0) # return 0 si no esta

2

Los otros tipos basicos mas son:
- files
- sets

Controles de flujo
- condicional
- loop (while/for)

In [72]:
# Conceptos de programacion funcional 

#Devuelve el doble de los elementos
l1, l2 = [1,2,3,4,5], []
for x in l1:
    l2.append(x*2)
l2

[2, 4, 6, 8, 10]

In [73]:
# List comprehion
l1 = [1,2,3,4,5]
l2 = [x*2 for x in l1]
l2

[2, 4, 6, 8, 10]

In [81]:
# function funtional
l1 = [1,2,3,4,5]
l2 = map(lambda x: x*2, l1)
list(l2)

[2, 4, 6, 8, 10]

In [82]:
range(5)

range(0, 5)

In [83]:
# Lo convertimos en una lista, en algo que ya conocemos
list(range(5))

[0, 1, 2, 3, 4]

In [84]:
list(range(3, 15))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [85]:
list(range(15, 10))

[]

In [86]:
list(range(3, 15, 2))

[3, 5, 7, 9, 11, 13]

In [87]:
list(range(15, 10, -1))

[15, 14, 13, 12, 11]

In [89]:
x = [15, 14, 13, 12, 11]
x

[15, 14, 13, 12, 11]

In [91]:
x[:]

[15, 14, 13, 12, 11]

In [92]:
x[:2]

[15, 14]

In [94]:
x[:5:2]

[15, 13, 11]

In [96]:
x[::-1]

[11, 12, 13, 14, 15]

else, break estan dispobiles para ambos tipo de ciclos
- for
- while

continue
- for

In [99]:
import random
x = random.randint(1,10)
for i in range(3):
    y = int(input('Adivina el numero: '))
    if x > y:
        print('para arriba')
    elif x < y:
        print('para abajo')
    else:
        print('adivinaste!')
        break
    continue
    print('Nunca imprime este mensaje')
else:
    print('No adivinaste :(, el numero era: ', x)

Adivina el numero: 4
para arriba
Adivina el numero: 2
para arriba
Adivina el numero: 3
para arriba
No adivinaste :(, el numero era:  7

Truthy and Falsy values

In [101]:
x = 0
if x:
    print('hola')
else:
    print('mundo')

mundo

In [103]:
# Para conocer sus valores
not not []

False

In [104]:
not not [1]

True

In [105]:
x = (1)
print(type(x))

<class 'int'>

In [106]:
x = (1,)
print(type(x))

<class 'tuple'>